<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>COMET TUTOR</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="styles.css">
</head>

<body id="page-top">
    <!-- Navigation-->
    <div id="backdrop" class="backdrop background-tint">
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">COMET TUTOR</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                                href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1 " data-bs-toggle="modal" data-bs-target="#signInModal"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/new_logo" alt="..." style="width: 20rem;">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">COMET TUTOR</h1>
                <!-- Icon Divider-->
                <!-- Masthead Subheading-->
                <br>
                <p class="masthead-subheading font-weight-light mb-0">Your Go-To Website for Tutoring</p>

                <h1 class="alert">
                    {{welcome}}
                </h1>
            </div>
        </header>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about"
            style="margin-left: 2rem; margin-right: 2rem;">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row" style="align-items: center; justify-content: center;">
                    <div class="me-auto">
                        <p class="lead" style="text-align: center;">Comet Tutor is a comprehensive tutoring service
                            designed to support students of all levels in their academic journey. With a team of
                            experienced tutors from various disciplines, Comet Tutor offers one-on-one tutoring and
                            online resources to help students excel in their coursework. Whether you're struggling with
                            a particular subject or seeking to enhance your skills, Comet Tutor has got you covered.
                            Schedule your appointment today and unlock your academic potential!</p>
                    </div>
                </div>
                <!-- About Section Button-->
                <div class="signuplinks"
                    style="display: flex; flex-direction: row; justify-content: center; gap: 1rem;">
                    <div class="text-center mt-4">
                        <a class="btn btn-xl btn-outline-light" data-bs-toggle="modal" data-bs-target="#signUpModal">
                            <i class="fas fa-portrait me-2"></i>
                            SIGN UP
                        </a>
                    </div>
                    <div class="text-center mt-4">
                        <a class="btn btn-xl btn-outline-light" data-bs-toggle="modal"
                            data-bs-target="#tutorsignUpModal">
                            <i class="fas fa-portrait me-2"></i>
                            BECOME A TUTOR
                        </a>
                    </div>
                </div>

            </div>
        </section>

        <section class="home-dashboard bg-primary text-white" id="dashboard" style="height: 70vh; display: flex;">
            <div class="dashboard-left" id="dash-left" style="display: flex;">
                <div id="dash-label-tutor" class="dash-label bg-primary text-white" style="display: flex;">TUTORS</div>
            </div>
            <div class="dashboard-right bg-white text-secondary" id="dash-right"
                style="width: 100%; height: inherit; border-radius: 1rem; font-weight: bolder;">
                <form id="searchForm" action="/index-search" data-sb-form-api-token="API_TOKEN" method="post">
                    <div class="dash-menu" style="display: flex; flex-direction: row; position: relative;">
                        <div class="dash-menu-left"
                            style="width: 50%; text-align: left; margin: 1rem; padding-left: 0.5rem; vertical-align: middle;">
                        </div>
                        <div class="dash-menu-right"
                            style="display: flex; flex-direction: row; width: 50%; text-align: right; margin: 0.5rem;">
                            <div class="input-group">
                                <div class="form-outline" style="width: 80%">
                                    <input type="search" name="find" id="form1" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary bg-primary" style="width:20%">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="dash-content dash-tutor" id="dash-content-tutor"
                    style="display: flex; flex-direction: row;">
                    {{#each tutors}}
                    <div class="tutor-card rounded bg-secondary" data-bs-toggle="modal"
                        data-bs-target="#tutorProfileModal{{this.index}}">
                        <div class="container d-flex align-items-center flex-row"
                            style="justify-content: space-around;">
                            <!-- Masthead Avatar Image-->
                            <img class="masthead-avatar mb-2" src="{{this.image}}" alt="..." style="width: 5rem;" />
                            <!-- Masthead Heading-->
                            <div class="flex-column" style="text-align: left; margin-left: 1rem;">
                                <h1 class="text-white mb-0" style="font-size: large;">{{this.fullName}}</h1>
                                <h2 class="text-white mb-0" style="font-size: medium; min-height: 10px;"></h2>
                                <h2 class="text-white mb-0" style="font-size:x-small;">{{this.email}}</h2>
                                <h2 class="text-white mb-0" style="font-size: medium; min-height: 10px;"></h2>
                                <div
                                    style="display: flex; flex-direction: row; font-size: x-small; flex-wrap: wrap; gap: 0.5rem; padding-right: 0.5rem;">
                                    {{#each this.courses}}
                                    <div class="text-primary text-uppercase course-name">{{this}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            800 W Campbell Rd
                            <br />
                            Richardson, TX 75080
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/utdallas/"><i
                                class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1"
                            href="https://twitter.com/UT_Dallas?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                                class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1"
                            href="https://www.instagram.com/ut_dallas/?hl=en"><i class="fab fa-fw fa-instagram"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">About Comet Tutor</h4>
                        <p class="lead mb-0">
                            Get academic assistance with Comet Tutor.
                        </p>
                    </div>
                </div>
            </div>

        </footer>
        <div class="copyright py-4 text-center text-primary">
            <div class="container"><small>Copyright &copy; Your Website 2023</small></div>
        </div>
    </div>
    <!-- Copyright Section-->

    <!-- Portfolio Modals-->
    <div class="portfolio-modal modal fade" id="signInModal" tabindex="-1" aria-labelledby="portfolioModal1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log In</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                </div>

                                <div class="signin_div bg-primary"
                                    style="display: flex; flex-direction: column; border-radius: 1rem; border-width: 0.4rem; border-color: rgb(232, 117, 0); border-style: solid;">
                                    <div class="signin-left" id="dash-left"
                                        style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
                                        <div id="form-label-tutor" class="label-tutors bg-white text-primary"
                                            style="border-radius: 1rem; width: 50%; text-align: center; padding: 1rem; padding-bottom: 2rem;"
                                            onclick="displayTutorForm();">
                                            TUTORS</div>
                                        <div id="form-label-class" class="label-students bg-primary text-white"
                                            style="width: 50%; text-align: center; padding: 1rem; padding-bottom: 2rem;"
                                            onclick="displayClassForm();">
                                            STUDENT</div>
                                    </div>
                                    <div class="signin-right bg-white text-secondary justify-content-center"
                                        id="dash-right"
                                        style="width: 100%; height: inherit; border-radius: 1rem; font-weight: bolder; margin-top: -1.5rem;">
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>

                                        <div class="" id="form-content-tutor"
                                            style="display: flex; flex-direction: row; width: 80%; margin-left: 10%; margin-right: 10%;">
                                            <form id="contactForm" data-sb-form-api-token="API_TOKEN"
                                                action="/tutor-login" method="post" style="width: 100%;">
                                                <!-- Email address input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="email" name="tutor_email"
                                                        type="email" placeholder="name@example.com"
                                                        data-sb-validations="required,email" required />
                                                    <label for="email">Email address</label>
                                                </div>
                                                <!-- Email address input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="password" name="tutor_password"
                                                        type="password" placeholder="password"
                                                        data-sb-validations="required,password" required />
                                                    <label for="password">Password</label>
                                                </div>
                                                <!-- Submit Button-->
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <button class="btn bg-primary btn-xl mb-5" id="submitButton"
                                                    type="submit">TUTOR LOG
                                                    IN</button>
                                            </form>
                                        </div>

                                        <div class="" id="form-content-class"
                                            style="display: none; flex-direction: row; width: 80%; margin-left: 10%; margin-right: 10%;">
                                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/login"
                                                method="post" style="width: 100%;">
                                                <!-- Email address input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="email" name="user_email"
                                                        type="email" placeholder="name@example.com"
                                                        data-sb-validations="required,email" required />
                                                    <label for="email">Email address</label>
                                                </div>
                                                <!-- Email address input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="password" name="user_password"
                                                        type="password" placeholder="password"
                                                        data-sb-validations="required,password" required />
                                                    <label for="password">Password</label>
                                                </div>
                                                <!-- Submit Button-->
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <button class="btn bg-primary btn-xl mb-5" id="submitButton"
                                                    type="submit">STUDENT LOG
                                                    IN</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <a class="btn btn-primary bg-secondary" data-bs-toggle="modal"
                                    data-bs-target="#signUpModal" style="border-style: none;">
                                    <i class="fas fa-portrait me-2"></i>
                                    SIGN UP
                                </a>
                                <a class="btn btn-primary bg-secondary" data-bs-toggle="modal"
                                    data-bs-target="#tutorsignUpModal" style="border-style: none;">
                                    <i class="fas fa-portrait me-2"></i>
                                    BECOME A TUTOR
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="signUpModal" tabindex="-1" aria-labelledby="portfolioModal1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Sign Up</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <form id="contactForm" action="/signup" data-sb-form-api-token="API_TOKEN"
                                    method="post">
                                    <!-- First Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="firstname" placeholder="John"
                                            data-sb-validations="required" required />
                                        <label for="fname">First Name</label>
                                    </div>
                                    <!-- Last Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="lastname" placeholder="Doe"
                                            data-sb-validations="required" required />
                                        <label for="lname">Last Name</label>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" type="email" name="email"
                                            placeholder="name@example.com" data-sb-validations="required,email"
                                            required />
                                        <label for="email">Email address</label>
                                    </div>
                                    <!-- Phone No. input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="phone" placeholder="000-000-0000"
                                            data-sb-validations="required,phone" required />
                                        <label for="phone">Phone Number</label>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" type="password" name="password"
                                            placeholder="password" data-sb-validations="required,password" required />
                                        <label for="password">Password</label>
                                    </div>

                                    <!-- Submit Button-->
                                    <button class="btn bg-primary btn-xl mb-5" id="submitButton" type="submit"
                                        onclick="return confirm('Confirn registration?')">
                                        SIGN UP</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="tutorsignUpModal" tabindex="-1" aria-labelledby="portfolioModal1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Become a Tutor</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <form id="tutor-signup-form" action="/become-tutor" method="post"
                                    onsubmit="return handleData()">
                                    <!-- First Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="firstname" placeholder="John"
                                            data-sb-validations="required" required />
                                        <label for="fname">First Name</label>
                                    </div>
                                    <!-- Last Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="lastname" placeholder="Doe"
                                            data-sb-validations="required" required />
                                        <label for="lname">Last Name</label>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" type="email" name="email"
                                            placeholder="name@example.com" data-sb-validations="required,email"
                                            required />
                                        <label for="email">Email address</label>
                                    </div>
                                    <!-- Phone No. input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="phone" placeholder="000-000-0000"
                                            data-sb-validations="required,phone" required />
                                        <label for="phone">Phone Number</label>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" type="password" name="password"
                                            placeholder="password" data-sb-validations="required,password" required />
                                        <label for="password">Password</label>
                                    </div>
                                    <!-- Profile Bio input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="bio" type="bio" name="bio" placeholder="..."
                                            data-sb-validations="required" required />
                                        <label for="bio">Description</label>
                                    </div>

                                    <!-- Subject Expertise  input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="subjects" type="subjects" name="subjects"
                                            placeholder="..." data-sb-validations="required" required />
                                        <label for="subjects">Subject Expertise (Separate by Comma and Space)</label>
                                    </div>

                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"
                                        style="margin-bottom: 2%; font-size:larger; color:#3a3d3f">Availability</div>
                                    <div class="days&times form-floating mb-3"
                                        style="display: flex; flex-direction:row; justify-content: space-around;">

                                        <div id="list1" class="dropdown-check-list" style="width:40%" tabindex="100">
                                            <div style="visibility:hidden; color:red; " id="chk_option_error_days">
                                                Please select at least one option.
                                            </div>
                                            <span class="anchor anchor1" id="anchor1"
                                                style="border-radius: 0.5rem; width:100%"
                                                onclick="displayList1();">Select Days</span>
                                            <ul class="items" id="list1-list"
                                                style="text-align: left; border-radius:0.5rem;">
                                                <li><input type="checkbox" name="days[]" value="Sunday" />Sunday </li>
                                                <li><input type="checkbox" name="days[]" value="Monday" />Monday</li>
                                                <li><input type="checkbox" name="days[]" value="Tuesday" />Tuesday </li>
                                                <li><input type="checkbox" name="days[]" value="Wednesday" />Wednesday
                                                </li>
                                                <li><input type="checkbox" name="days[]" value="Thursday" />Thursday
                                                </li>
                                                <li><input type="checkbox" name="days[]" value="Friday" />Friday </li>
                                                <li><input type="checkbox" name="days[]" value="Saturday" />Saturday
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="list2" class="dropdown-check-list" style="width:40%" tabindex="100">
                                            <div style="visibility:hidden; color:red; " id="chk_option_error_shifts">
                                                Please select at least one option.
                                            </div>
                                            <span class="anchor anchor2" id="anchor2"
                                                style="border-radius: 0.5rem; width:100%"
                                                onclick="displayList2();">Select Times</span>
                                            <ul class="items" id="list2-list"
                                                style="text-align:left; border-radius:0.5rem;">
                                                <li><input type="checkbox" name="shifts[]" value="10:00 - 12:00" />10:00
                                                    AM
                                                    - 12:00 PM</li>
                                                <li><input type="checkbox" name="shifts[]" value="12:00 - 2:00" />12:00
                                                    PM
                                                    - 2:00 PM</li>
                                                <li><input type="checkbox" name="shifts[]" value="2:00 - 4:00" />2:00 PM
                                                    -
                                                    4:00 PM</li>
                                                <li><input type="checkbox" name="shifts[]" value="4:00 - 6:00" />4:00 PM
                                                    -
                                                    6:00 PM</li>
                                                <li><input type="checkbox" name="shifts[]" value="6:00 - 8:00" />6:00
                                                    PM-
                                                    8:00 PM</li>
                                                <li><input type="checkbox" name="shifts[]" value="8:00 - 9:00" />8:00
                                                    PM-
                                                    10:00 PM</li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>

                                    <!-- Submit Button-->
                                    <button class="btn bg-primary btn-xl mb-5" id="submitButton" type="submit"
                                        onclick="return confirm('Confirn registration?')">SIGN
                                        UP</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#each tutors}}
    <div class="portfolio-modal modal fade" id="tutorProfileModal{{this.index}}" tabindex="-1"
        aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">{{this.fullName}}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="container d-flex align-items-center flex-column">
                                    <!-- Masthead Avatar Image-->
                                    <img class="masthead-avatar mb-5" src="{{this.image}}" alt="..."
                                        style="width: 10rem;" />
                                    <!-- Masthead Heading-->
                                    <h4 class="text-uppercase mb-0">{{this.email}}</h4>
                                    <!-- Icon Divider-->
                                    <!-- Masthead Subheading-->

                                    <h2 class="text-white mb-0" style="font-size: medium; min-height: 20px;"></h2>
                                    <p class="masthead-subheading font-weight-light mb-0 text-primary">Available
                                        Days</p>
                                    <div
                                        style="display: flex; flex-direction: row; font-size: medium; flex-wrap: wrap; gap: 0.5rem; justify-content: center;">
                                        {{#each this.days}}
                                        <div class="text-secondary text-uppercase course-name-green">{{this}}</div>
                                        {{/each}}
                                    </div>


                                    <h2 class="text-white mb-0" style="font-size: medium; min-height: 20px;"></h2>
                                    <p class="masthead-subheading font-weight-light mb-0 text-primary">Available
                                        Classes</p>
                                    <div
                                        style="display: flex; flex-direction: row; font-size: medium; flex-wrap: wrap; gap: 0.5rem; justify-content: center;">
                                        {{#each this.courses}}
                                        <div class="text-secondary text-uppercase course-name-green">{{this}}</div>
                                        {{/each}}
                                    </div>

                                    <h2 class="text-white mb-0" style="font-size: medium; min-height: 20px;"></h2>
                                    <p class="lead text-secondary" style="text-align: center;">{{this.bio}}</p>

                                    <h2 class="text-white mb-0" style="font-size: medium; min-height: 20px;"></h2>
                                    <p class="masthead-subheading font-weight-light mb-0 text-primary">Contact</p>
                                    <div
                                        style="display: flex; flex-direction: row; font-size: medium; flex-wrap: wrap; gap: 0.5rem; justify-content: center;">
                                        <div class="text-secondary course-name-green">{{this.email}}</div>
                                        <div class="text-secondary course-name-green">{{this.phone}}</div>
                                    </div>

                                    <h2 class="text-white mb-0" style="font-size: medium; min-height: 20px;"></h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script src="server.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>