<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>COMET TUTOR</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="styles.css" />
</head>

<body id="page-top" onload="load_calendar();">
    <div id="backdrop" class="backdrop background-tint">
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">COMET TUTOR</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-portrait"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1 " data-bs-toggle="modal" data-bs-target="#profileModal"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded">Profile</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/index"
                                onclick="return confirm('Sign Out?')">SIGN OUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead-->
        <header class="masthead text-black text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="page-section-heading text-uppercase mb-0 text-white">WELCOME BACK {{name}}!</h1>
            </div>
        </header>

        <section class="home-calendar bg-secondary text-white mt-4" id="dashboard">
            <div class="calendar-left bg-primary">
                <div class="calendar bg-transparent">
                    <div class="calendar__picture" id="calendar__picture">
                    </div>
                    <div class="calendar__date" class="" style="display: flex; flex-direction: column;">
                        <div class="calendar_days_label" style="display: flex; flex-direction: row;">
                            <div class="calendar__day">S</div>
                            <div class="calendar__day">M</div>
                            <div class="calendar__day">T</div>
                            <div class="calendar__day">W</div>
                            <div class="calendar__day">T</div>
                            <div class="calendar__day">F</div>
                            <div class="calendar__day">S</div>
                        </div>
                        <div class="caledar_data_container" id="calendar_data_container"
                            style="display: flex; flex-direction: column;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="calendar-right justify-content-center" style="padding: 5%;">
                {{#each appointments}}
                <div class="appointment-card rounded bg-primary flex-column" data-bs-toggle="modal"
                    data-bs-target="#appointmentModal{{this.index}}">
                    <div class="container d-flex align-items-center flex-row" style="justify-content: space-around;">
                        <!-- Masthead Avatar Image-->
                        <div><i class="fa fa-calendar fa-2x"></i></div>
                        <!-- Masthead Heading-->
                        <div class="flex-column" style="text-align: left; margin-left: 1rem;">
                            <h1 class="text-white mb-0" style="font-size: large;">{{this.student}}</h1>
                            <h2 class="text-white mb-0" style="font-size:x-small;">{{this.course}}</h2>
                        </div>
                    </div>
                    <div style="text-align: center; padding-top: 5%">
                        <h2 class="text-white mb-0" style="font-size:small;">{{this.date}} | {{this.time}}</h2>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>

        <section class="tutor-history bg-secondary text-white mt-4 justify-content-center flex-column padding:10%"
            id="dashboard">
            <div class="" style="height:fit-content; width:100%; text-align:center; margin-top: 5%">
                <h4>Appointments History</h4>
            </div>
            <div class=""
                style="display:flex; flex-direction:row; min-height: 100%; padding: 5%; width: 100%; text-align: center; gap:5%; flex-wrap:wrap; justify-content:center">
            </div>
        </section>

        <footer class="footer text-center mt-4" style="margin-left: 2rem; margin-right: 2rem;">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            800 W Campbell Rd
                            <br />
                            Richardson, TX 75080
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/utdallas/"><i
                                class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1"
                            href="https://twitter.com/UT_Dallas?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                                class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1"
                            href="https://www.instagram.com/ut_dallas/?hl=en"><i class="fab fa-fw fa-instagram"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">About Comet Tutor</h4>
                        <p class="lead mb-0">
                            Get academic assistance with Comet Tutor.
                        </p>
                    </div>
                </div>
            </div>

        </footer>
        <div class="copyright py-4 text-center text-primary">
            <div class="container"><small>Copyright &copy; Your Website 2023</small></div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="profileModal" tabindex="-1" aria-labelledby="portfolioModal1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{fullName}}</h2>
                                <h2 class="text-secondary text-uppercase mb-0">{{id}}</h2>
                                <h2></h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="container d-flex align-items-center flex-column">
                                    <!-- Masthead Avatar Image-->
                                    <img class="masthead-avatar mb-5" src="{{profilePic}}" alt="..."
                                        style="width: 15rem;" />
                                    <!-- Masthead Heading-->
                                    <h1 class="masthead-heading text-uppercase mb-0">TOTAL TUTORING HOURS: {{hours}}
                                    </h1>
                                    <form id="contactForm" action="/upload-tutor-pic" method="post"
                                        enctype="multipart/form-data">
                                        <div id="pic-upload" class="form-floating mb-3">
                                            <input type="file" id="avatar" name="avatar" class="form-control">
                                            <label for="avatar" style="font-size: larger;">Choose a profile
                                                picture:</label>
                                        </div>
                                        <button class="btn bg-primary btn-xl mb-5" id="submitButton" type="submit"
                                            onclick="return confirm('Submit Profile Picture?')">UPLOAD IMAGE</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{#each appointments}}
    <div class="portfolio-modal modal fade" id="appointmentModal{{this.index}}" tabindex="-1"
        aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">{{this.student}}</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="container d-flex align-items-center flex-column">

                                    <!-- Masthead Heading-->
                                    <h4 class="text-uppercase mb-0">{{this.course}}</h4>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <h4 class="text-primary mb-0">{{this.date}} | {{this.time}}</h4>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{/each}}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="server.js"></script>
</body>

</html>